body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.body-cadastro {
    background-image: url("imagens/coding-g9982edde6_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

a {
    button {
        cursor: pointer;
        width: 100%;
    }
}

.block-top {
    display: flex;
    gap: 1rem;
}

.block-botton {
    display: flex;
    gap: 1rem;
}

.h1-page {
    text-align: center;
    margin-top: 5rem;
}

.dad-block-page {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-page {
    text-align: center;
    width: 300px;
    background-color: #ffffff8c;
    border-radius: 5px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.815);
    }
    transition: 0.4s;
}

.page-header {
    background-image: url(imagens/startup-gdf716122c_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.page-footer {
    background-image: url(imagens/laptop-1478822_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    h2 {
        margin: 0;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: #000;
        font-weight: 900;
    }
}

.zap {
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
        margin: 0;
    }
}

.infos-footer-page {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: end;
}

.infos-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
        margin: 0;
    }
}

.elements {
    display: flex;
    flex-direction: column;
    .text-elements {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// .page-nav{
//     position: fixed;
// }
header {
    background-image: url(imagens/coding-g9982edde6_1920.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header {
    input {
        width: 250px;
        outline: none;
    }
    button {
        background: #00000078;
        border-radius: 5px;
        color: #fff;
    }
}

nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-transform: uppercase;
}

article {
    display: flex;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.input-form {
    border-radius: 5px;
    border: 2px solid black;
    background: unset;
    color: rgb(255, 255, 255);
}

.input-form::placeholder {
    color: rgb(255, 255, 255);
}

.input-form.active {
    background-color: #ff00009c;
    color: #fff !important;
}

.input {
    border-radius: 5px;
    border: 2px solid black;
    background: unset;
    color: rgb(255, 255, 255);
}

.input::placeholder {
    color: rgb(255, 255, 255);
}

.input.active {
    background-color: #ff00009c;
    color: #fff;
}

.input-form.place::placeholder {
    color: rgb(255, 255, 255);
}

.input-form-pass.active::placeholder {
    color: #fff !important;
}

.input-form-pass {
    border-radius: 5px;
    border: 2px solid black;
    background: unset;
    color: #fff !important;
}

.input-form-pass::placeholder {
    color: rgb(255, 255, 255);
}

.ded-input-pass {
    position: relative;
}

.ded-input-pass::placeholder {
    color: rgb(255, 255, 255) !important;
}

.block {
    height: 12px;
    width: 12px;
    position: absolute;
    background: none;
    border: 1px solid;
    top: 3px;
    right: 5px;
    cursor: pointer;
}

.block.active {
    background-color: #04000091;
}

.block::placeholder {
    color: rgb(255, 255, 255) !important;
}

.input-form-pass.active {
    background-color: #ff00009c;
}

.input-form-pass.place::placeholder {
    color: black;
}

.content {
    margin-top: 3rem;
}

.imgs-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 300px;
    img {
        height: 90px;
        max-width: 100%;
    }
}

.posts {
    h3 {
        text-transform: uppercase;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.file {
    input {
        background: no-repeat;
        border: 2px solid black;
        border-radius: 5px;
        color: #fff;
        outline: none;
        &::placeholder {
            color: #fff;
        }
    }
    button {
        background: no-repeat;
        border: 2px solid black;
        border-radius: 5px;
        color: #fff;
        outline: none;
        cursor: pointer;
    }
    textarea {
        background: no-repeat;
        border: 2px solid;
        border-radius: 5px;
        outline: none;
    }
    h3 {
        text-align: center;
    }
    &::placeholder {
        color: #fff;
    }
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 400px;
    gap: 3rem;
    margin-top: 5rem;
    img {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 578px) {
    .block-top {
        flex-direction: column;
    }
    .block-botton {
        flex-direction: column;
    }
}