body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

header {
  background-image: url(imagens/coding-g9982edde6_1920.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-header input {
  width: 250px;
  outline: none;
}

.form-header button {
  background: #00000078;
  border-radius: 5px;
  color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-transform: uppercase;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.input-form {
  border-radius: 5px;
  border: 2px solid black;
  background: unset;
  color: white;
}

.input-form::-webkit-input-placeholder {
  color: white;
}

.input-form:-ms-input-placeholder {
  color: white;
}

.input-form::-ms-input-placeholder {
  color: white;
}

.input-form::placeholder {
  color: white;
}

.input-form.active {
  background-color: #ff00009c;
}

.input-form.place::-webkit-input-placeholder {
  color: white;
}

.input-form.place:-ms-input-placeholder {
  color: white;
}

.input-form.place::-ms-input-placeholder {
  color: white;
}

.input-form.place::placeholder {
  color: white;
}

.input-form-pass {
  border-radius: 5px;
  border: 2px solid black;
  background: unset;
  color: #fff;
}

.input-form-pass::-webkit-input-placeholder {
  color: #000;
}

.input-form-pass:-ms-input-placeholder {
  color: #000;
}

.input-form-pass::-ms-input-placeholder {
  color: #000;
}

.input-form-pass::placeholder {
  color: #000;
}

.ded-input-pass {
  position: relative;
  color: #000 !important;
}

.ded-input-pass::-webkit-input-placeholder {
  color: #000 !important;
}

.ded-input-pass:-ms-input-placeholder {
  color: #000 !important;
}

.ded-input-pass::-ms-input-placeholder {
  color: #000 !important;
}

.ded-input-pass::placeholder {
  color: #000 !important;
}

.block {
  height: 12px;
  width: 12px;
  position: absolute;
  background: none;
  border: 1px solid;
  top: 3px;
  right: 5px;
  cursor: pointer;
}

.block.active {
  background-color: #04000091;
}

.block::-webkit-input-placeholder {
  color: #000 !important;
}

.block:-ms-input-placeholder {
  color: #000 !important;
}

.block::-ms-input-placeholder {
  color: #000 !important;
}

.block::placeholder {
  color: #000 !important;
}

.input-form-pass.active {
  background-color: #ff00009c;
}

.input-form-pass.place::-webkit-input-placeholder {
  color: black;
}

.input-form-pass.place:-ms-input-placeholder {
  color: black;
}

.input-form-pass.place::-ms-input-placeholder {
  color: black;
}

.input-form-pass.place::placeholder {
  color: black;
}

.content {
  margin-top: 3rem;
}

.imgs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  max-width: 300px;
}

.imgs-content img {
  height: 90px;
  max-width: 100%;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts h3 {
  text-transform: uppercase;
}
/*# sourceMappingURL=index.css.map */