body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-image: url(imagens/network-3664108_1920.jpg);
    background-repeat: repeat;
    background-position: center;
    height: 500px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

article {
    display: flex;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.input-form {
    border-radius: 5px;
    border: 1px solid grey;
}

.input-form.active {
    background-color: #ff00009c;
    border: none;
}

.input-form.place::placeholder {
    color: black;
}