body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.body-cadastro {
  background-image: url("imagens/coding-g9982edde6_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a button {
  cursor: pointer;
  width: 100%;
}

.block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.block-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.h1-page {
  text-align: center;
  margin-top: 5rem;
}

.dad-block-page {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-page {
  text-align: center;
  width: 300px;
  background-color: #ffffff8c;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.block-page:hover {
  background-color: rgba(255, 255, 255, 0.815);
}

.page-header {
  background-image: url(imagens/startup-gdf716122c_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.page-footer {
  background-image: url(imagens/laptop-1478822_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5rem;
}

.page-footer h2 {
  margin: 0;
  text-align: center;
}

.page-footer a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
}

.zap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.zap p {
  margin: 0;
}

.infos-footer-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.infos-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.infos-page p {
  margin: 0;
}

.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.elements .text-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  background-image: url(imagens/coding-g9982edde6_1920.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-header input {
  width: 250px;
  outline: none;
}

.form-header button {
  background: #00000078;
  border-radius: 5px;
  color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-transform: uppercase;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.input-form {
  border-radius: 5px;
  border: 2px solid black;
  background: unset;
  color: white;
}

.input-form::-webkit-input-placeholder {
  color: white;
}

.input-form:-ms-input-placeholder {
  color: white;
}

.input-form::-ms-input-placeholder {
  color: white;
}

.input-form::placeholder {
  color: white;
}

.input-form.active {
  background-color: #ff00009c;
  color: #fff !important;
}

.input {
  border-radius: 5px;
  border: 2px solid black;
  background: unset;
  color: white;
}

.input::-webkit-input-placeholder {
  color: white;
}

.input:-ms-input-placeholder {
  color: white;
}

.input::-ms-input-placeholder {
  color: white;
}

.input::placeholder {
  color: white;
}

.input.active {
  background-color: #ff00009c;
  color: #fff;
}

.input-form.place::-webkit-input-placeholder {
  color: white;
}

.input-form.place:-ms-input-placeholder {
  color: white;
}

.input-form.place::-ms-input-placeholder {
  color: white;
}

.input-form.place::placeholder {
  color: white;
}

.input-form-pass.active::-webkit-input-placeholder {
  color: #fff !important;
}

.input-form-pass.active:-ms-input-placeholder {
  color: #fff !important;
}

.input-form-pass.active::-ms-input-placeholder {
  color: #fff !important;
}

.input-form-pass.active::placeholder {
  color: #fff !important;
}

.input-form-pass {
  border-radius: 5px;
  border: 2px solid black;
  background: unset;
  color: #fff !important;
}

.input-form-pass::-webkit-input-placeholder {
  color: white;
}

.input-form-pass:-ms-input-placeholder {
  color: white;
}

.input-form-pass::-ms-input-placeholder {
  color: white;
}

.input-form-pass::placeholder {
  color: white;
}

.ded-input-pass {
  position: relative;
}

.ded-input-pass::-webkit-input-placeholder {
  color: white !important;
}

.ded-input-pass:-ms-input-placeholder {
  color: white !important;
}

.ded-input-pass::-ms-input-placeholder {
  color: white !important;
}

.ded-input-pass::placeholder {
  color: white !important;
}

.block {
  height: 12px;
  width: 12px;
  position: absolute;
  background: none;
  border: 1px solid;
  top: 3px;
  right: 5px;
  cursor: pointer;
}

.block.active {
  background-color: #04000091;
}

.block::-webkit-input-placeholder {
  color: white !important;
}

.block:-ms-input-placeholder {
  color: white !important;
}

.block::-ms-input-placeholder {
  color: white !important;
}

.block::placeholder {
  color: white !important;
}

.input-form-pass.active {
  background-color: #ff00009c;
}

.input-form-pass.place::-webkit-input-placeholder {
  color: black;
}

.input-form-pass.place:-ms-input-placeholder {
  color: black;
}

.input-form-pass.place::-ms-input-placeholder {
  color: black;
}

.input-form-pass.place::placeholder {
  color: black;
}

.content {
  margin-top: 3rem;
}

.imgs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  max-width: 300px;
}

.imgs-content img {
  height: 90px;
  max-width: 100%;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts h3 {
  text-transform: uppercase;
}

.file input {
  background: no-repeat;
  border: 2px solid black;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

.file input::-webkit-input-placeholder {
  color: #fff;
}

.file input:-ms-input-placeholder {
  color: #fff;
}

.file input::-ms-input-placeholder {
  color: #fff;
}

.file input::placeholder {
  color: #fff;
}

.file button {
  background: no-repeat;
  border: 2px solid black;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.file textarea {
  background: no-repeat;
  border: 2px solid;
  border-radius: 5px;
  outline: none;
}

.file h3 {
  text-align: center;
}

.file::-webkit-input-placeholder {
  color: #fff;
}

.file:-ms-input-placeholder {
  color: #fff;
}

.file::-ms-input-placeholder {
  color: #fff;
}

.file::placeholder {
  color: #fff;
}

.imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  height: 400px;
  gap: 3rem;
  margin-top: 5rem;
}

.imgs img {
  height: 300px;
  width: 300px;
}

@media (max-width: 578px) {
  .block-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-botton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */